/* Footer.css */

footer {
    background-color: #333;  /* Fondo oscuro */
    color: white;  /* Color de texto blanco */
    padding: 20px 0;
    text-align: center;
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    margin-top: 30px; /* Espacio entre el contenido y el footer */
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  .footer-links a:hover {
    color: #f39c12;  /* Color amarillo al pasar el mouse */
  }
  